.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: initial;
}

.prix,.date,.option{
    display: flex;
    flex-direction: row;
    padding: 25px;
    font-size: small;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 20px;
}

.prix input,.date input{
    border: none;
    border-radius: 10px;
    outline: none;
    height: 35px;
    border-bottom: 2px solid rgb(235, 232, 229);;
    margin-left: 10px;   
    transition: all 0.3s ease;
}
.opt{
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    align-items: center;
    justify-content: space-between;
}

.tittle{
    font-size: 30px;
    font-weight: 600;
    text-decoration: underline;

}

.prix input:hover,.date input:hover{
    font-weight: 600;
    background: rgb(235, 232, 229,0.3);
    border-bottom: 3px solid rgb(230, 198, 166);
}

.titre {
    font-size: 25px;
    text-decoration: underline;
}
  